footer {
    background-color: $blue;
    position: relative;
    bottom: 0;
    width: 100%;
    color: $celeste;
}

/* iconos del footer */
.tam-icono {
    width: 35px;
}

.copy {
    text-align: right;
    display: block;
}