main {
    overflow: hidden;
    margin-bottom: 120px;
}

/* imagen principal del index.html */
.img-principal {
    width: 100%;
    padding: 10px;
    float: right;
    height: auto;
}
.alineacion {
    text-align: justify;
    margin: $margins;
}
a:hover {
    color: rgb(161, 128, 128);
}

.img-iconos{
    width: 110px;
    margin-top: 20px;
}

.centrado{
    justify-content: space-around;
    text-align: center;
}