.img-siniestro {
    margin-top: 90px;
    margin-bottom: 30px;
    width: 40%;
    float: left; 
    margin-left: 1%;
}
.titulo_siniestro{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
}
.texto-siniestro {
    width: 55%; 
    float: right; 
    margin-left: 10px; 
    margin-right: $margins;
    margin-top: 30px;
}
.boton {
    clear: both;
}