.img-siniestro {
    margin-top: 90px;
    margin-bottom: 30px;
    width: 40%; // Ancho de la imagen
    float: left; // Alinear a la izquierda
    margin-left: 1%;
}
.titulo_siniestro{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
}
.texto-siniestro {
    width: 55%; // Ancho del texto, ajustado para dejar espacio para la imagen
    float: right; // Alinear a la derecha
    margin-left: 10px; // Espacio entre la imagen y el texto
    margin-right: 40px;
    margin-top: 30px;
}
.boton {
    clear: both;
}