@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@100;400&display=swap");
* {
  margin: 0;
  padding: 0;
}

h1 {
  text-decoration: underline;
}

/* header */
.color-fondo {
  background-color: rgb(48, 39, 176);
  color: rgb(125, 191, 249);
}

/* lista del nav */
.lista {
  list-style: none;
}
.lista a {
  color: rgb(125, 191, 249);
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
}

.navbarr {
  display: grid;
  justify-content: space-around;
  align-items: center;
  padding: 5px 10%;
  height: 50px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas: "uls uls uls uls uls";
}

.uls {
  display: flex;
  flex-direction: row;
  gap: 100px;
  grid-area: left-ul;
}

h1 {
  text-align: center;
}
h1 img {
  width: 25px;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  background-color: rgb(125, 191, 249);
}

main {
  overflow: hidden;
  margin-bottom: 120px;
}

/* imagen principal del index.html */
.img-principal {
  width: 100%;
  padding: 10px;
  float: right;
  height: auto;
}

.alineacion {
  text-align: justify;
  margin: 40px;
}

a:hover {
  color: rgb(161, 128, 128);
}

footer {
  background-color: rgb(48, 39, 176);
  position: relative;
  bottom: 0;
  width: 100%;
  color: rgb(125, 191, 249);
}

/* iconos del footer */
.tam-icono {
  width: 35px;
}

.copy {
  text-align: right;
  display: block;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
  margin-top: 40px;
}

.text-center {
  text-align: center;
}

.columna {
  background: rgb(48, 39, 176);
  color: rgb(125, 191, 249);
  border: 1px solid rgb(15, 14, 14);
  margin: 40px auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 10px 10px 5px #888;
  width: 35%;
  height: 500px;
  box-sizing: border-box;
}

.tam-img {
  width: 150px;
  height: 150px;
  margin: 0 25px;
  padding-top: 40px;
}

.boton {
  background: salmon;
  display: block;
  padding: 10px;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  border-radius: 3px;
}
.boton:hover {
  background-color: rgb(204, 208, 210);
  color: rgb(14, 14, 14);
}

.boton-index {
  background-color: rgb(48, 39, 176);
  color: rgb(125, 191, 249);
  border-radius: 3px;
  text-decoration: none;
}

.titulos-contacto {
  text-align: center;
}
.titulos-contacto h2 {
  padding-top: 30px;
  padding-bottom: 30px;
  text-decoration: underline;
}

form {
  margin: 0 auto;
  max-width: 500px;
  padding: 20px;
  border-radius: 10px;
  background-color: #f5f5f5;
}
form label {
  display: block;
  margin-bottom: 10px;
}
form input[type=text],
form input[type=email],
form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}
form button[type=submit] {
  background-color: rgb(48, 39, 176);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
form button[type=submit]:hover {
  background-color: rgb(48, 39, 176);
}

.mapa {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  width: 500px;
  height: 400px;
}

.texto {
  margin-left: 20%;
  margin-right: 20%;
}

.fila-respaldo {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}
.fila-respaldo img {
  width: 30%;
  height: 80%;
  margin: 0 25px;
  padding-top: 40px;
}

.img-siniestro {
  margin-top: 90px;
  margin-bottom: 30px;
  width: 40%;
  float: left;
  margin-left: 1%;
}

.titulo_siniestro {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 5%;
}

.texto-siniestro {
  width: 55%;
  float: right;
  margin-left: 10px;
  margin-right: 40px;
  margin-top: 30px;
}

.boton {
  clear: both;
}

/* Para pantallas medianas (tablets) */
@media only screen and (max-width: 991px) and (min-width: 576px) {
  .flex {
    display: flex;
    flex-direction: column;
  }
  .columna {
    width: 80%;
    margin-bottom: 20px;
    margin-top: 10%;
  }
  /*pagina de siniestro*/
  .img-siniestro {
    width: 90%;
    margin: 10% 8%;
  }
}
/* Para pantallas pequeñas (móviles) */
@media only screen and (max-width: 575px) {
  body {
    font-size: 14px;
  }
  .flex {
    display: flex;
    flex-direction: column;
  }
  /*pagina de seguros*/
  .columna {
    width: 80%;
    margin-bottom: 20px;
    margin-top: 10%;
  }
  /*pagina de respaldo*/
  .fila-respaldo {
    flex-direction: column;
    align-items: center;
  }
  .fila-respaldo img {
    max-width: 90%;
    margin: 10px 0;
  }
  /*pagina de siniestro*/
  .img-siniestro {
    width: 90%;
    margin: 10% 8%;
  }
  .texto-siniestro {
    width: 80%;
    float: none;
    margin-left: 45px;
  }
}

/*# sourceMappingURL=styles.css.map */
